 {% extends 'base.html' %} 
{% block content %}

<div class="nav-bar-1">
  {% include 'menu.html' %}
</div>

{% comment %} <a href="{% url 'register' %}"> register </a>
<a href="{% url 'login' %}"> login </a>
<a href="{% url 'logout' %}"> logout </a> {% endcomment %}

<div class = "room_list d-flex flex-wrap gap-3">
{% for room in rooms %}



<div class="card" style="width: 18rem;">
    <img src="{{room.image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">room{{ room.number }}</h5>
      <p class="card-text">description {{ room.description }}</p>
      <span class="badge text-bg-secondary">{{ room.type_room }}</span>
      <h4>{{ room.price }}</h4>
      <a href="{% url 'booking' room.id %}" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

{% empty %}    
{% endfor %}

</div>

{% endblock %}